<?xml version="1.0" encoding="utf-8"?>

<!-- internalLogFile="c:\tmp\Logs\log.txt" internalLogLevel="Trace" -->
<nlog autoReload="true" throwExceptions="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logBaseDir" value="c:\tmp\Logs" />
    <variable name="logFolder" value="${logBaseDir}" />
    <variable name="defaultLayout"
              value="[${date}] ${level:uppercase=true} ${logger:shortName=true} ${message} ${exception:format=ToString}" />
    <targets async="true">
        <target name="logconsole"
                xsi:type="Console"  
                layout="${defaultLayout}" />
        <target name="logfile"
                xsi:type="File"
                layout="[${longdate}] ${level:uppercase=true} ${message} ${exception:format=ToString}"
                fileName="${logFolder}/${logger}.txt"
                autoFlush="true"
                encoding="utf-8"
                maxArchiveFiles="31"
                archiveAboveSize="5000000"
                archiveEvery="Day" />
        <target name="debugger"
                xsi:type="Debugger"
                layout="${defaultLayout}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile,logconsole,debugger" />
    </rules>
</nlog>